<p style="font-size:100px;color:#ff9933;margin-top:-100px;">Selfie Cv</p>


<a href="http://localhost:3000/admin/" class="pull-right"><%= image_tag "logo.png", :style => 'margin-top:-100px;width: 42px; height: 42px;' %></a>
<%= image_tag("1.jpg", :style => 'width: 100%; height: 500px;')%>
