<%= simple_form_for [:admin, @video_upload], html: { class: 'form-horizontal' } do |f| %>
  
  <div class="form-group string required user_district">
    <label class="string required col-sm-3 control-label" for="user_district">Uploaded Profile</label>
      <div class="col-sm-9">
        <%= image_tag @video_upload.thumb_url %>
      </div>
  </div>
  <div class="form-group string required user_district">
    <label class="string required col-sm-3 control-label" for="user_district">Upload Profile</label>
      <div class="col-sm-9">
        <%= f.input :file, as: :file %>
      </div>
  </div>

  
  

  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Save</button> <%= link_to "Back", admin_video_uploads_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>