<div class="row">



  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">        
        
        <h3 class="panel-title">Users</h3>
        <p>
          <%= link_to '', admin_users_path(format: "csv"), class: "btn btn-primary btn-sm glyphicon glyphicon-download-alt pull-right", title: "Export all users from here.", style: "color:#FFF;margin-top:-20px;" %>
        </p>
      </div>
      <div class="panel-body">
        <% if @assets.count > 0 %>
          <div class="pull-left page-info">Total <%= @assets.size %> Users</div>  </br> </br>        
          <%= datagrid_table(@report, @assets) %>              
        <% else %>
          <p class="alert">There are no results to display . </p>
        <% end %>
      </div>
    </div>    
  </div>  
  
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">        
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body"><%= render "admin/shared/filters" %></div>
    </div>
  </div>

</div>