<div class="row">

<div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">        
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body"><%= render "admin/shared/filters" %></div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">        
        <%= link_to "", new_admin_user_path, class: "btn btn-primary btn-xs pull-right glyphicon glyphicon-plus", title: "Add User"%>
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <% if @assets.count > 0 %>
          <div class="pull-left page-info">Total <%= @assets.size %> Users</div>  </br> </br>        
          <%= datagrid_table(@report, @assets) %>              
        <% else %>
          <p class="alert">There are no results to display . </p>
        <% end %>
      </div>
    </div>    
  </div>  
  
</div>